body {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	line-height: 1.5;
	max-width: 40em;
	margin: 0 auto;
}
footer {
	font-size: 0.75em;
	line-height: 2;
	text-align: center;
	opacity: 0.5;
}
main h1 { color: #469; }
header h1 { background-color: #469; color: #fff; text-align: center; font-weight: normal; }
.event {
	display: flex;
	align-items: top;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}
.event .eventtext { flex-basis: 60%; }
.event .eventimage { flex-basis: 30%; flex-shrink: 1; }
.event h1 { margin-bottom: 0; }
.event address { font-style: unset; }