body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
}
header h1 {
	background: linear-gradient(to top, #054410, #364 90%, #306040);
	color: #fff;
	text-align: center;
	font-weight: normal;
	margin: 0;
}
header h1 a:hover, header h1 a:focus { text-shadow: 0 0 1ch #fff; }
header h1 a { color: #fff; text-decoration: none; }

form #id_interests { list-style-type: none; padding: 0; }

.event, #subscribeform, #noevents, form.form-only-page { background-color: #fff; color: #000; }
summary { display: block; }
summary::before { content: none; }
summary h1 { margin: 0; }
summary img { float: left; }
.event .date, #subscribeblurb { margin: 0; }
.event p:last-child { margin-bottom: 0; }

#messages ul, ul.errorlist { list-style-type: none; padding: 0; text-align: center; }
#messages li, .errorlist li { color: #000; border: solid; display: block; }

#messages li.success { border-color: #090; background-color: #cfc; }
#messages li.success::before { content: '\2714'; margin-right: 1ch; color: #090; }
#messages li.error, .errorlist li { background-color: #fcc; border-color: #a00; }
#messages li.error::before, .errorlist li::before { content: '\2757'; margin-right: 1ch; color: #a00; }

nav { text-align: center; }

/* Behavior on large devices */
@media (min-width: 30.001rem) {
	main { display: flex; flex-flow: row wrap; justify-content: space-evenly; max-width: 90em; margin: 0 auto; }
	body { line-height: 1.5; background-color: #ded; }
	header h1 { font-size: 2em; padding: 0.5em 0; }

	.event, #subscribeform, #noevents, form.form-only-page { padding: 0.5em; margin: 0.5em; border: solid thin; flex: 1 0 20%;}
	form.form-only-page { max-width: 40em; }
	#noevents p { margin-top: 2.5em; text-align: center; }
	details.event:not([open]), #subscribeform:not([open]), #noevents { height: 8em; min-width: 20rem; max-width: 40rem; order: 2; }
	details.event[open], article.event, #subscribeform[open] { min-width: calc(100% - 2em); min-height: 8em; order: 1; }
	summary h1 { font-size: 1.5em; line-height: 1.25; }
	summary img { height: 8em; margin-right: 0.5em; }

	#messages ul, ul.errorlist { max-width: 40em; margin: 0 auto; }
	#messages li, .errorlist li { border-radius: 0.5em; margin: 1em; }
	#messages li:last-child { margin-bottom: 0.5em; }

	#subscribeform .errorlist li { margin-left: 12em; }
}

/* Behavior on small devices */
@media (max-width: 30rem) {
	body { font-size: 0.8em; line-height: 1.25; background-color: #fff; }
	header h1 { padding: 0.1em 0; font-size: 2em; margin-bottom: 0.2em; }
	nav { margin: 0.4em; }
	p { margin: 0.5em 0; }

	.event, #subscribeform, #noevents, form.form-only-page { padding: 0.2em; border-bottom: solid thin; }
	#noevents p { margin: 0; }
	.event:first-child, #subscribeform { border-top: solid thin; }
	summary h1 { font-size: 1.25em; line-height: 1; }
	summary img { height: 2.5em; margin-right: 0.1em; }

	#messages ul, ul.errorlist { margin: 0; }
	#messages li, .errorlist li { border-width: thin; border-radius: 0.25em; margin: 0.4em; }
}
