body {
	background-color: #eee;
	color: #000;
	font-family: sans-serif;
	line-height: 1.5;
	margin: 0 auto;
}
footer {
	font-size: 0.75em;
	line-height: 2;
	text-align: center;
	opacity: 0.5;
}
header h1 {
	background: linear-gradient(#247, #469);
	color: #fff;
	text-align: center;
	font-weight: normal;
	margin: 0;
	padding: 0.75em 0;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,0.2);
	letter-spacing: 0.25ch;
}

main { display: flex; flex-flow: row wrap; margin: 0.25rem; }

article.event {
	margin: 0.5rem;
	background-color: #fff;
	flex: 1 0 23%;
	min-width: 15em;
	box-shadow: 0 0 0 1px #ccc, 2px 2px 6px rgba(0,0,0,0.16);
	border-radius: 0.5rem;
}
article.event:nth-last-child(2):nth-child(4n) { min-width: 33%; }
article.event div.eventpic {
	background-size: cover;
	 border-top-left-radius: 0.5rem;
	 border-top-right-radius: 0.5rem;
	display: flex;
	min-height: 15rem;
	align-items: center;
	text-align: center;
	flex-direction: column;
	justify-content: space-evenly;
	color: #000;
	text-shadow: 1px 1px 6px #fff;
}
article.event h1 {
	padding: 0 0.5rem;
	margin: 0;
}
article.event div.eventbody { padding-left: 0.5rem; padding-right: 0.5rem; }
article.event address { font-style: unset; }