{% extends 'base.html' %}
{% load staticfiles %}

{% block fulltitle %}EA Boston Events{% endblock fulltitle %}
{% block styling %}<link rel="stylesheet" href="{% static 'css/simplesheet.css' %}">{% endblock styling %}
{% block content %}
  {% if event_list %}
    <main>
      {% for event in event_list %}
          <details class="event">
            <summary>
              <img src="{{ event.picture.url }}" alt=""/>
              <h1>{{ event.name }}</h1>
              <p class="date"><time datetime="{{ event.start_time|date:'c' }}">{{ event.start_time }}</time>{% if event.end_time %}: <time datetime="{{ event.end_time|date:'c' }}">{{ event.end_time|timeuntil:event.start_time }}</time> long{% endif %}</p>
            </summary>
            <p>{{ event.location }}</p>
            <p>{{ event.description }}</p>
            <p><a href="{% url 'event_detail' pk=event.pk %}">Permalink</a></p>
          </details>
      {% endfor %}
    </main>
  {% else %}
    <p>There are no events scheduled right now.</p>
  {% endif %}
  <nav><a href="{% url 'event_past' %}">Past events</a></nav>
{% endblock content %}
