{% extends 'base.html' %}
{% load staticfiles %}

{% block fulltitle %}EA Boston Events{% endblock fulltitle %}
{% block styling %}<link rel="stylesheet" href="{% static 'css/simplesheet.css' %}">{% endblock styling %}
{% block content %}
  <header><h1>EA Boston Events</h1></header>
  {% if event_list %}
    <main>
      {% for event in event_list %}
        <article class="event">
          <div class="eventpic" style="background-image: url('{{ event.picture.url }}')">
            <h1>{{ event.name }}</h1>
          </div>
          <div class="eventbody">
            <time datetime="{{ event.start_time|date:'c' }}">{{ event.start_time }}</time>
          {% if event.end_time %}<time datetime="{{ event.end_time|date:'c' }}">{{ event.end_time }}</time>{% endif %}
            <address>{{ event.location }}</address>
            <p>{{ event.description }}</p>
          </div>
        </article>
      {% endfor %}
    </main>
  {% else %}
    <p>There are no events scheduled right now.</p>
  {% endif %}
{% endblock content %}
