{% extends 'base.html' %}
{% load staticfiles %}

{% block fulltitle %}EA Boston Events{% endblock fulltitle %}
{% block content %}
    <main>
          <article class="event">
              <img src="{{ event.picture.url }}" alt=""/>
              <h1>{{ event.name }}</h1>
              <p class="date"><time datetime="{{ event.start_time|date:'c' }}">{{ event.start_time }}</time>{% if event.end_time %} -- <time datetime="{{ event.end_time|date:'c' }}">{{ event.end_time }}</time>{% endif %}</p>
            <p>{{ event.location }}</p>
            <p>{{ event.description }}</p>
            <p>Categories:
            {% for interest in event.interests.all %}
            {{ interest.name }}{% if not forloop.last %},
            {% endif %}
            {% endfor %}
            </p>
          </article>
    </main>
  <nav><a href="{% url 'event_past' %}">Past events</a></nav>
{% endblock content %}
