<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Upcoming Boston EA events</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">

            <table align="center" class="wrapper header float-center"><tr><td class="wrapper-inner">
              <table align="center" class="container"><tbody><tr><td>
                <table class="row collapse"><tbody><tr>
                  <th class="small-12 large-12 columns first last"><table><tr><th>
                    <h1 class="text-center"><a href="http://127.0.0.1:8000/"><font color="#FFFFFF">EA Boston Events</font></a></h1>
                  </th>
<th class="expander"></th></tr></table></th>
                </tr></tbody></table>
              </td></tr></tbody></table>
            </td></tr></table>

            <table class="spacer float-center"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>

            <table align="center" class="container float-center"><tbody><tr><td>
              <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
              <table class="row"><tbody><tr>
                <th class="small-12 large-4 columns first"><table><tr><th>
                  <table class="spacer"><tbody><tr><td height="8px" style="font-size:8px;line-height:8px;">&#xA0;</td></tr></tbody></table>
                  <img src="http://127.0.0.1:8000/media/17.jpg" alt="">
                </th></tr></table></th>
                <th class="small-12 large-8 columns last"><table><tr><th>
                  <h2><a href="http://127.0.0.1:8000/event/3/">{\{ event.name }}</a></h2>
                   <p class="date"><time>{\{ event.start_time }}</time>
                   </p><p>{\{ event.location }}</p>
                </th></tr></table></th>
              </tr></tbody></table>
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <p>{\{ event.location }} | The most common form of an ellipsis is a row of three periods or full stops (. . .) or a precomposed triple-dot glyph (…). The usage of the em dash (—) can overlap the usage of the ellipsis, especially in dialogue. Style guides often have their own rules governing the use of ellipses. For example, The Chicago Manual of Style recommends that an ellipsis be formed by typing three periods, each with a space on both sides.</p>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
            </td></tr></tbody></table>

            <table class="spacer float-center"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>

          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>
